.container {
    background: transparent;
    height: 100%;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

.navBall {
    position: fixed;
    top: -10px;
    right: -12px;
    height: 45px;
    width: 45px;
    padding: 15px 10px 10px 15px;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow:
        0 15px 30px rgba(0, 0, 0, 0.3),
        0 30px 60px rgba(0, 0, 0, 0.25),
        0 45px 90px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.mainNavBall {
    position: fixed;
    height: 0px;
    width: 0px;
    top: -100px;
    right: -100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.8s !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow:
        0 15px 30px rgba(0, 0, 0, 0.3),
        0 30px 60px rgba(0, 0, 0, 0.25),
        0 45px 90px rgba(0, 0, 0, 0.2);
    z-index: 50;
}

.navBallLine1,
.navBallLine2,
.navBallLine3 {
    width: 30px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 2px 0;
    transition: 0.8s !important;
    margin-right: 1rem;
}

.navBallLine2 {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 6px;
}

.projects,
.skills {
    margin: 1rem 8rem;
    margin-right: 0;

}


.skill {
    border: 2px solid rgba(255, 255, 255, 0.288);
    color: white;
    padding: 1rem;
    box-shadow:
        0 15px 30px rgba(0, 0, 0, 0.3),
        0 30px 60px rgba(0, 0, 0, 0.25),
        0 45px 90px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:fit-content ;
}

.filledSkill {
    background-color: rgba(255, 255, 255, 0.313);
}

.filledSkill:hover {
    background-color: rgba(255, 255, 255, 0.567);
}

.unfilledSkill:hover {
    background-color: rgba(255, 255, 255, 0.567);
}

@media screen and (max-width: 1124px) {

    .projects,
    .skills {
        margin: 2rem !important;
    }

    .projects {
        margin-right: 2rem !important;
    }
}