.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    min-width: 250px;
    height: 270px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.container .card .box:hover {
    transform: scale(1.2);
    box-shadow:
        0 15px 30px rgba(0, 0, 0, 0.3),
        0 30px 60px rgba(0, 0, 0, 0.25),
        0 45px 90px rgba(0, 0, 0, 0.2);
}

.container .card .box .content {
    padding: 20px;
    text-align: center;
    z-index: 1;
    position: absolute; /* So that the content is stacked on top of the image */
    color: #fff;
    transition: opacity 0.3s ease;
}

.container .card .box .content h2 {
    position: absolute;
    top: -110px;
    right: 10px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
}

.container .card .box .content h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    transition: color 0.3s ease;
    opacity: 1; /* Initially visible */
}

.container .card .box .content p {
    font-size: 0.8rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    opacity: 1; /* Initially visible */
    transition: opacity 0.3s ease;
}

.container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: rgba(53, 118, 209, 0.225) !important;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.container .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff !important;
    color: #000;
}

.container .card .box .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease; /* Smooth transition */
}

.container .card:hover .box .image {
    opacity: 1; /* Show image on hover */
}

.container .card:hover .box .content {
    opacity: 0; /* Hide text on hover */
}

.container .card .box .content:hover h3 {
    color: #2196f3; /* Hover effect for title */
}

.container .card .box .content:hover p {
    opacity: 0.8; /* Hover effect for description */
}
