@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    cursor: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: repeating-linear-gradient(to right, #000000, #2C3E50, #211f2f);
    overflow-x: hidden;
    font-family: "Varela Round", sans-serif;
    ;

}


.imageContainer {
    margin-top: 10rem;
    margin-left: 5rem;
}

.enlarge1:hover {
    height: 8rem !important;
    width: 14rem !important;
    top: 4rem !important;
    right: 12.5rem !important;
    transition: 0.5s !important;
    z-index: 1 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 0.3rem;

}

.enlarge2:hover {
    height: 8rem !important;
    width: 14rem !important;
    top: 6rem !important;
    right: 20rem !important;
    transition: 0.5s !important;
    z-index: 1 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 0.3rem;
}

.enlarge3:hover {
    height: 8rem !important;
    width: 14rem !important;
    top: 6rem !important;
    right: 4rem !important;
    transition: 0.5s !important;
    z-index: 1 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 0.3rem;

}

.mouse-dot {
    position: fixed;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.2s, height 0.2s;
    z-index: 10;
}


html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.app {
    position: relative;
    height: 100vh;
}



.page {
    background-color: white;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: none;
}

@keyframes expandHeight {
    from {
        height: 0;
        opacity: 0.5;
        background-color: #211f2f;
        background: repeating-linear-gradient(to bottom, #000000, #2C3E50, #171622);
    }

    to {
        height: 100vh;
        opacity: 1;
        background-color: rgb(86, 83, 103);
        background: repeating-linear-gradient(to bottom, #000000, #2C3E50, #171622);
    }
}

.showPage {
    width: 100vw;
    animation: expandHeight 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes expandStarterHeight {
    from {
        height: 100vh;
        opacity: 0;
        background-color: #211f2f;
        background: repeating-linear-gradient(to right, #000000, #2C3E50, #211f2f);
    }

    to {
        height: 100vh;
        opacity: 1;
        background-color: rgb(86, 83, 103);
        background: repeating-linear-gradient(to right, #000000, #2C3E50, #211f2f);
    }
}

.showStarterPage {
    width: 100vw;
    animation: expandStarterHeight 0.7s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topTheText {
    transition: 0.9s;
    transform: translateY(-22rem);
    font: 3rem;
    opacity: 0 !important;
}

@keyframes changeOpacity {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.showStarter {
    transition: 0.9s;
    animation: changeOpacity 0.6s ease;
}

.exploreMore {
    border-radius: 0.2rem;
    border-image: repeating-linear-gradient(to bottom right, #ffcc00, #c8ff00) 1 !important;
    transition: 0.1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: repeating-linear-gradient(to bottom right, #ffcc00, #c8ff00);
    color: black !important;
}

.exploreMore:hover {
    background: transparent;
    color: white !important;
    border-radius: 0.2rem;
    border-color: black;
}

.default {
    transform: translateY(25rem);
}

@keyframes updown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

.downArrow {
    animation: updown 1.5s ease-in-out infinite;
}